.lf_main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.lf_video_content {
    flex: 3;
    height: 100%;
}

.lf_video_transcription_content {
    flex: 1;
    height: 100%;
}

.lf_video_container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.lf_video_title {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px 0;
    margin: 10px;
}

.lf_video_description {
    font-size: 18px;
    margin: 10px;
}