.video_box{
    display: inline-flex;
    padding: 10px 10px 10px 10px;
}

.image_body{
    width: 350px;
    height: 180px;
    padding-right: 50px;
}

.video_content{
    display: grid;
}

.video_heading{
    padding-top: 5px;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

.video_body{
    margin-top: -35px;
}

.video_tags{
    margin-bottom: -30px; 
}